* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9f3e5;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 30%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.header {
    background-color: red;
    padding: 20px;
    color: white;
    text-align: center;
}

#todoList {
    padding: 15px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    background-color: #f9f3e5;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 15px;
    border-left: 5px solid #ee7e0d;
}

.task-left {
    font-size: 18px;
}

.status {
    opacity: 0.6;
    font-style: italic;
}

.footer {
    text-align: center;
    opacity: 0.6;
    padding: 15px;
}